{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet"  type="text/text/css" href="{% static 'style.css' %}">
{% endblock header %}
  <body>
{% block content %}
<!-- 中身 -->
<div class="container">
<!-- Functionの各ツールに飛ぶリンクまとめ -->
<div class="Function_List">
  <a href="{% url 'exp1app:Top_Page' %}">Topに戻る</a>
</div>
<!-- サンプリングデータリストを閲覧する -->
  <div class="Animal_ListFrame">
    {% for item in object_list %}
    <div class="Animal_ListBox">
      <p>{{ item.created_at|date:"y/n/j H:i:s T" }}</p>
      <p>{{ item.Animal }}</p>
      <a href="{% url 'exp1app:Animal_Check' item.pk %}">詳細</a>
    </div>
    {% endfor %}
  </div>
<!-- ユーザーステータス -->
  <div class="User_Frame">
    <!-- loginしているUser名の表示 -->
    <!-- アカウント情報に関する編集(今は作成しない) -->
    <div class="">

    </div>

  </div>


</div>
{% endblock content %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
