<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>実験生物管理-Sampler</title>
  </head>
  <body>
    <header>
      <h1>実験生物管理-Sampler</h1>
    </header>
    <div class="">

    <form class="" method='post'>{% csrf_token %}
          <h1>ログインしてください</h1>
          <label>ユーザー名</label>
          <input type="text" id="inputEmail" class="" placeholder="username" name="username_data" required="" autofocus="">
          <label for="inputPassword" class="">パスワード</label>
          <input type="password" id="inputPassword" class="" placeholder="Password" name="password_data" required="">
          <div class="">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="" type="submit">Sign in</button>
          <p class="">© 2017-2020</p>
    </form
    </div>
  </body>
