<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
       <div class="breadcrumbs">
         <a href="{% url 'accounts:login' %}">ログイン画面に戻る</a>
       </div>
       <div class="main shifted" id="main">
        <div class="content">
        <!-- Content -->
          <div id="content" class="colM">
            <h1>Password reset sent</h1>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <br class="clear">
          </div>
          <!-- END Content -->
          <div id="footer"></div>
        </div>
      </div>
    </div>
    <!-- END Container -->
  </body>
</html>
