<!doctype html>
{% load static %}
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" text="text/css" href="{% static 'style.css' %}">

    <title>実験生物管理-Sampler</title>
</head>

<body>

  <header>
    <h1>実験生物管理-Sampler</h1>
  </header>
    <div class="container_signup">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>{{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <div>
          <button type="submit">ユーザー登録</button>
        </div>
        <a href="{% url 'accounts:login' %}">戻る</a>
      </form>
    </div>
  </body>
