{% extends 'base.html' %}
{% block header %}
<header>
  <div class="header_title">
    <h1>実験生物管理-Sampler</h1>
  </div>
  <div class="header_login">
    <div class="">
      <a href="{% url 'exp1app:Top_Page' %}">TOPへ</a>
    </div>
    <div class="login_user">
      {% if user.is_anonymous %}
      <a>ユーザー:ゲスト</a>
      {% else %}
      <a>ユーザー；{{ user }}</a>
      {% endif %}
    </div>
    <div class="logout">
      <a href="{% url 'accounts:logout' %}">ログアウト</a>
    </div>

  </div>
</header>
{% endblock header %}
  <body>
{% block content %}
<!-- 中身 -->
<div class="Create_Place">

  <div class="create_container_check">
  <!-- Functionの各ツールに飛ぶリンクまとめ -->
    <!-- サンプリング方法を記録する箱 -->

    <h1>レポートの作成</h1>
    <div class="Sampling_PageFrame">
      <!-- 以下の情報を取得する
  date
  title
  animal
  purpose
  method
  contorl number
  situation
  experiment number
  experiment situation -->
  <!-- 日付とタイトル -->
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="SamplingCreate_Frame">
          <p>対象生物&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:<input type="text" name="animal" required=True></p>

      </div>
      <div class="SamplingCreate_Frame">
          <p>サンプリング名:<input type="text" name="title" required=True></p>
      </div>
      <div class="SamplingCreate_Frame">
        <div class="Group_Situation">
          <p>方法 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:</p><textarea type="text" name="method" required=True class="Long_Input_Box"></textarea>
        </div>
      </div>
      <div class="SamplingCreate_Frame">
        <div class="Group_Situation">
          <p>目的 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:</p><textarea type="text" name="purpose" required=True class="Long_Input_Box"></textarea>
        </div>
      </div>
      <div class="">
        <p><label for="id_image">サンプリング画像:</label> <input type="file" name="image" accept="image/*" required=False id="id_image" value=None></p>
      </div>
      <div class="for_numbers">
        <div class="Group_SituationFrame_Box">
          <div class="Group_SituationFrame">
            <div class="Group_Title">
              <p>グループ名 &nbsp&nbsp&nbsp&nbsp&nbsp:<input type="text" name="group_name01" required=True></p>
              <p>&nbsp&nbsp&nbsp&nbsp&nbspN数:<input class="Number_Input_Box" type="text" name="experiment_number01" required=True></p>
            </div>
            <div class="Group_Situation">
              <p>実験条件&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:</p><textarea type="text" name="experiment_situation01" required=True class="Long_Input_Box"></textarea>
            </div>
          </div>

        </div>
      </div>

        <input class="hidden_number" type="hidden" name="experiment_number02" value=None>
        <input class="hidden_number" type="hidden" name="experiment_number03" value=None>
        <input class="hidden_number" type="hidden" name="experiment_number04" value=None>
        <input class="hidden_number" type="hidden" name="experiment_number05" value=None>
        <input class="hidden_number" type="hidden" name="experiment_number06" value=None>
        <input class="hidden_situation" type="hidden" name="experiment_situation02" value=None>
        <input class="hidden_situation" type="hidden" name="experiment_situation03" value=None>
        <input class="hidden_situation" type="hidden" name="experiment_situation04" value=None>
        <input class="hidden_situation" type="hidden" name="experiment_situation05" value=None>
        <input class="hidden_situation" type="hidden" name="experiment_situation06" value=None>

        <input class="hidden_group" type="hidden" name="group_name02" value=None>
        <input class="hidden_group" type="hidden" name="group_name03" value=None>
        <input class="hidden_group" type="hidden" name="group_name04" value=None>
        <input class="hidden_group" type="hidden" name="group_name05" value=None>
        <input class="hidden_group" type="hidden" name="group_name06" value=None>



      <input type="hidden" name="user" value="{{ user }}">
      <div class="situation_increase">
        <button type="button" name="button" id="Experiment_Add">実験群の追加</button>
      </div>
      <div class="submittion_create">
        <input type="submit" name="" value="作成する">
      </div>

    </form>

  <!-- ユーザーステータス -->
    <div class="User_Frame">
      <!-- loginしているUser名の表示 -->
      <!-- アカウント情報に関する編集(今は作成しない) -->
      <div class="">

      </div>

    </div>


  </div>

</div>
<div class="Template_Box">
  <p>テンプレート一覧</p>

</div>

{% endblock content %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
