<!doctype html>
{% load static %}
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" text="text/css" href="{% static 'style.css' %}">

    <title>実験生物管理-Sampler</title>
</head>
<body>
  <header>
    <h1>実験生物管理-Sampler</h1>
  </header>
  <div class="container_rest_password">
    <form method="post">
      {% csrf_token %}
      <fieldset class="module aligned">
        <div class="form-row field-email">
          <label for="id_email">Email address:</label>
          <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
        </div>
        <input type="submit" value="Reset my password">
      </fieldset>
    </form>
  </div>

</body>
